<div id="<%= dom_id context %>">
  <p>
    <strong>Name:</strong>
    <%= context.name %>
  </p>

  <p>
    <strong>Industry description:</strong>
    <%= context.industry_description %>
  </p>

  <p>
    <strong>Landing page url:</strong>
    <%= context.landing_page_url %>
  </p>

  <p>
    <strong>Tiktok campaign:</strong>
    <%= context.campaign_id %>
  </p>

  <p>
    <strong>Tiktok adgroup:</strong>
    <%= context.adgroup_id %>
  </p>

</div>
