<p style="color: green"><%= notice %></p>

<%= render @context %>

<h2>Advertising ideas</h2>

<% if @context.ad_ideas.any? %>
  <ul>
    <% @context.ad_ideas.each do |idea| %>
      <li><%= idea %></li>
    <% end %>
  </ul>
<% else %>
  <p>Ideas have not yet been generated.</p>
  <%= button_to "Generate ideas", generate_ideas_context_path(@context), method: :post %>
<% end %>

<% if @context.generated_images.any? %>
  <h2>Generated Images</h2>
  <div style="display: flex; flex-wrap: wrap; gap: 16px;">
    <% @context.generated_images.each do |img| %>
      <% color = img.selected? ? 'darkorange' : '#ccc' %>
      <div style="border: 2px solid <%= color %>; padding: 8px;">
        <p><strong>Prompt:</strong> <%= img.prompt %></p>
        <img src="<%= img.url %>" style="width: 200px;"><br>

        <% if img.selected? %>
          <p style="color: darkorange;"><strong>the chosen one</strong></p>
        <% else %>
          <%= button_to "Choose", choose_generated_image_path(img), method: :post %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render_image_generation_cta(@context) %>

<div>
  <%= link_to "Edit this context", edit_context_path(@context) %> |
  <%= link_to "Back to contexts", contexts_path %>

  <%= button_to "Destroy this context", @context, method: :delete %>
</div>
